.highlight {
    background-color:  rgb(87, 154, 146);
  }
  .Dashboard {
    margin: 3rem;
  }

  .portfolioName {
    font-weight: bold;
  }

  .center-dashboard {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

