html {
    box-sizing: border-box;
  }
.App {
  margin: 3rem;
}
  * {
    box-sizing: inherit;
  }
  
  * * {
    box-sizing: inherit;
  }
  
  *:before {
    box-sizing: inherit;
  }
  
  *:after {
    box-sizing: inherit;
  }
  
  .outer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .Questionnaire {
    font-family: sans-serif;
    text-align: center;
    max-width: 320px;
    flex-basis: 300px;
  }
  
  label {
    text-align: left;
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
  }
  